<% chosen_class = "chzn-select-#{attribute_id}" %>

<%= render  :partial => 'admin/templates/modals/belongs_to',
            :locals => { :attribute => attribute, :related => related, :attribute_id => attribute_id } %>

<div class="control-group" id="<%= attribute_id %>_li">
  <%= form.label attribute, label_text, { :class => "control-label" } %>
  <div class="controls">
    <% if values.any? %>
      <%= form.select related_fk, values, options, html_options.merge(:class => chosen_class, :style => "width: 350px;") %>
    <% else %>
      <%= Typus::I18n.t("No entries found.") %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  // $(document).ready(function () { $(".<%= chosen_class %>").chosen(); });
</script>
