<li id="<%= attribute %>">
  <%= form.label attribute, link_to_detach_attribute_for_dragonfly(attribute) %>
  <%= form.file_field attribute, options %>
  <%= form.hidden_field "retained_#{attribute}" %>
  <%= typus_dragonfly_preview(@item, attribute) %>
</li>
