<%
  param_name = "#{association_name}_page"
  new_page_title = Typus::I18n.t("Add New %{resource}", :resource => @model_to_relate.model_name.human.titleize)
%>

<div id="modal-from-dom-<%= @model_to_relate.table_name %>" class="modal hide fade">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3><%= new_page_title %></h3>
  </div>
  <div class="modal-body"></div>
  <div class="modal-footer">
    <a href="#" class="btn primary">Save changes</a>
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>

<div class="box_relationships" id="<%= association_name %>">

  <h2>
    <%= @resource.human_attribute_name(association_name) %>
    <small><%= add_new %></small>
  </h2>

  <% if @items.any? -%>
    <%= table %>
    <%= admin_paginate(@items, Typus.pagination.merge(:anchor => association_name, :param_name => param_name)) %>
  <% else %>
    <p><%= Typus::I18n.t("No entries found.") %></p>
  <% end %>

</div>
