<% content_for :sidebar do %>
  <%= typus_block :sidebar, :dashboard %>
<% end %>

<h2>Dashboard</h2>

<%= typus_block :top, :dashboard %>

<%= resources %>

<%= applications %>

<%= typus_block :bottom, :dashboard %>