<% form_tag :action => 'reset_password' do %>

  <%= hidden_field :user, :token, :value => params[:token] %>

  <ul>
  <li><label for="password"><%= t("Password") %></label>
  <%= password_field :user, :password, :size => 20, :class => 'text' %></li>
  <li><label for="password"><%= t("Password Confirm") %></label>
  <%= password_field :user, :password_confirmation, :size => 20, :class => 'text' %></li>
  <li><%= submit_tag t("Change password"), :class => 'button' %> <%= link_to t("I remember my password"), typus_login_path %></li>
  </ul>

<% end %>