<!-- Applications list with models. -->

<%
  applications = admin_user.applications

  # Detect if we are inside an application.
  title = if (application = params[:application])
    applications.each do |app|
      applications = [app] if app.parameterize == application
    end
    applications.first
  else
    "Site"
  end

  page_title = Typus::I18n.t("#{title} administration", :title => title)
%>

<h2><%= page_title %></h2>

<% if applications.any? %>
  <% applications.each do |app| %>

    <table style="margin-bottom: 1em;">

      <thead>
        <tr>
          <th><%= link_to Typus::I18n.t(app), admin_dashboard_path(app.parameterize) %></th>
        </tr>
      </thead>

      <% admin_user.application(app).map(&:constantize).each do |klass| %>
        <% unless klass.typus_options_for(:hide_from_dashboard) %>
          <tr class="<%= cycle("even", "odd") %>">
            <td>
              <%= link_to klass.model_name.human(:count => 2), :controller => "/admin/#{klass.to_resource}" %>
            </td>
          </tr>
        <% end %>
      <% end %>

    </table>

  <% end %>
<% else %>
  <div class="notice">
    <%= Typus::I18n.t("No applications detected.") %>
  </div>
<% end %>
