<!-- List of all available models -->

<h2><%= t("Site Administration") %></h2>

<table class="table">

  <thead>
    <tr>
      <th><%= t("Model") %></th>
      <th><%= t("Items") %></th>
      <th><%= t("Actions") %></th>
    </tr>
  </thead>

  <% admin_user.models.map(&:constantize).each do |klass| %>
    <tr>
      <td><%= link_to klass.model_name.human(count: 1_000), controller: "/admin/#{klass.to_resource}" %></td>
      <td><%= klass.count %></td>
      <td width="100px">
        <%= link_to t('Add'), controller: "/admin/#{klass.to_resource}", action: 'new' %>
      </td>
    </tr>
  <% end %>

</table>
