<div class="resource">

  <h2><%= link_to_unless_current "Dashboard", admin_dashboard_path %></h2>

  <% if params[:controller] == "admin/dashboard" %>

    <ul>
      <li><%= link_to _("Mailing list"), "http://groups.google.com/group/typus" %></li>
      <li><%= link_to _("Submit a bug report"), "http://github.com/fesplugas/typus/issues" %></li>
      <li><%= link_to _("Documentation"), "http://intraducibles.com/projects/typus/documentation/" %></li>
      <li><%= link_to _("License"), "http://intraducibles.com/projects/typus/documentation/#mit-license" %></li>
    </ul>

  <% end %>

</div>
