<% content_for :javascripts do %>
  <script src="/assets/ckeditor/ckeditor.js" type="text/javascript"></script>
  <!-- <%= javascript_include_tag 'ckeditor/ckeditor' %> -->
<% end %>

<%
  custom = { :rows => @resource.typus_options_for(:form_rows), :class => "ckeditor" }
  options = options.merge!(custom)
%>

<input type="hidden"
       id="pageListJSON"
       value="[<%= Page.all.map { |p| "['#{p.to_label}', '/pages/#{p.respond?(:permalink) p.permalink : p.id}']" }.join(", ") %>]">

<li id="<%= attribute %>">
  <%= form.label attribute, label_text %>
  <%= form.text_area attribute, options %>
</li>
