<% content_for :sidebar do %>
  <%= typus_block :model => @resource[:self], :partial => :edit_sidebar %>
  <%= actions %>
<% end %>

<%= typus_block :model => @resource[:self], :partial => :edit %>

<h2><%= link_to t("Dashboard"), typus_dashboard_path %> &rsaquo; <%= link_to @resource[:class_name_humanized].pluralize, :action => 'index' %> &rsaquo; <%= t("Edit") %></h2>

<%= typus_block :model => @resource[:self], :partial => :edit_top %>

<% form_for @item, 
            :url  => { :action => 'update', :id => @item.id }, 
            :html => { :multipart => true } do |f| %>
  <%= build_form(@fields) %>
  <p><%= submit_tag t("Update entry"), :class => 'button' %></p>
<% end %>

<%= typus_relationships %>

<%= typus_block :model => @resource[:self], :partial => :edit_bottom %>