<% content_for :sidebar do %>
  <%= typus_block :model => @resource[:table_name], :partial => :index_sidebar %>
  <%= actions %>
  <%= search %>
  <%= filters %>
<% end %>

<%= typus_block :model => @resource[:table_name], :partial => :index %>

<h2><%= link_to t("Dashboard"), typus_dashboard_url %> &rsaquo; <%= @resource[:class_name_humanized].pluralize %> <% if request.env['QUERY_STRING'] && !request.env['QUERY_STRING'].blank? %><small><%= link_to t("Remove filter") %></small><% end %></h2>

<%= typus_block :model => @resource[:table_name], :partial => :index_top %>

<% unless @items.count.zero? -%>
  <%= build_list %>
  <%= render :partial => 'admin/pagination' if @items.prev || @items.next %>
<% else %>
  <div class="box" id="empty">
    <% if @resource[:class].count.zero? %>
      <p><%= t("There are no entries.") %></p>
    <% else %>
      <p><%= t("There are no entries under this filter.") %></p>
    <% end %>
  </div>
<% end %>

<%= typus_block :model => @resource[:table_name], :partial => :index_bottom %>