<% content_for :sidebar do %>
  <%= typus_block :model => @model.name.tableize, :partial => :index_sidebar %>
  <%= actions %>
  <%= search %>
  <%= filters %>
<% end %>

<%= typus_block :model => @model.name.tableize, :partial => :index %>

<h2><%= link_to "Dashboard", typus_dashboard_url %> &rsaquo; <%= @model.name.pluralize.titleize %> <% if request.env['QUERY_STRING'] && !request.env['QUERY_STRING'].blank? %><small><%= link_to "Remove filter" %></small><% end %></h2>

<%= typus_block :model => @model.name.tableize, :partial => :index_top %>

<% if @items.count > 0 -%>
  <%= build_table %>
  <%= render :partial => 'admin/pagination' if @items.prev || @items.next %>
<% else %>
  <div class="box" id="empty">
    <% if @model.count == 0 %>
      <p>There are no entries.</p>
    <% else %>
      <p>There are no entries under this filter.</p>
    <% end %>
  </div>
<% end %>

<%= typus_block :model => @model.name.tableize, :partial => :index_bottom %>
