<% content_for :sidebar do %>
  <%= typus_block :show_sidebar || actions %>
<% end %>

<h2><%= link_to "Dashboard", typus_dashboard_url %> &rsaquo; <%= link_to @model.name.pluralize.titleize, :action => 'index' %> &rsaquo; Show</h2>

<%= typus_block :show_top %>

<%=h @item.inspect %>

<%= typus_block :show_bottom %>