<!DOCTYPE html>

<html>

<head>

<!--

  Ruby on Rails easy-to-use interface to allow trusted users 
  edit structured content. (Admin scaffold generator) 

  Get the code at http://github.com/fesplugas/typus

-->

  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="viewport" content="width=500, initial-scale=0.60, minimum-scale=0.60" />

  <title><%= page_title %></title>

  <%= stylesheet_link_tag "admin/reset", 
                          "admin/screen" %>

</head>

<body>

  <div id="dialog">
    <h1><%= Typus.admin_title %></h1>
    <%= display_flash_message %>
    <%= yield %>
  </div>

  <div id="bottom_dialog">
    <p><%= raw Typus.admin_sub_title %></p>
  </div>

</body>

</html>
