<!DOCTYPE html>

<html lang="<%= I18n.locale %>">

<head>
  <%= render 'admin/shared/head' %>
</head>

<body class="base">

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="fluid-container">
        <a class="brand" href="#"><%= admin_header %></a>
        <%= apps %>
        <p class="nav pull-right">
         <%= admin_login_info %>
       </p>
      </div>
    </div>
  </div>

  <div class="container">
    <%= yield :layout %>
  </div>

</body>

</html>
