<!DOCTYPE html>

<html lang="<%= I18n.locale %>">

<head>
  <%= render 'admin/shared/head' %>
</head>

<body class="base">

  <div class="topbar">
    <div class="topbar-inner">
      <div class="container-fluid">
        <a class="brand" href="#"><%= admin_header %></a>
        <%= admin_apps %>
        <p class="pull-right"><%= admin_login_info %></p>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <%= yield :layout %>
  </div>

</body>

</html>
