<!DOCTYPE html>

<html lang="<%= I18n.locale %>">

<head>
  <%= render 'admin/shared/head' %>
</head>

<body class="base">

  <div class="container">
    <div class="row">
      <div class="span8 offset4">

        <div class="well">
          <h1 class="logo"><%= Typus.admin_title %></h1>
          <%= admin_display_flash_message %>
          <%= yield :layout %>
        </div>

        <% if content_for?(:actions) %>
          <div id="actions">
            <%= yield :actions %>
          </div>
        <% end %>

      </div>
    </div>
  </div>

</body>

</html>
