<%= form_for @item, :url => options, :html => { :class => "resource", :multipart => true } do |form| %>

  <%= render "admin/helpers/resources/errors" %>

  <fieldset class="inputs">
    <ol>
      <%= build_form(fields, form) %>
    </ol>
  </fieldset>

  <fieldset class="buttons">
    <ol>
      <li><%= submit_tag Typus::I18n.t("Save and add another"), :name => "_addanother" %></li>
      <li><%= submit_tag Typus::I18n.t("Save and continue editing"), :name => "_continue" %></li>
      <li><%= submit_tag Typus::I18n.t("Save"), :name => "_save", :class => "commit", :onclick => "setConfirmUnload(false);" %></li>
    </ol>
  </fieldset>

<% end %>
