<%
  page_title = Typus::I18n.t("Edit %{resource}", :resource => @resource.model_name.human)
  title(page_title)
%>

<% content_for :main_grid do %>
  <h2>
    <%= page_title %>
    <small><%= list_actions %></small>
  </h2>

  <% if headless_mode? && params[:action] == 'edit' && flash.keys.include?(:notice) && !params[:_input] %>
    <script type="text/javascript">
      $(document).ready(function () {
        <% if params[:attribute] %>
          // Get the params we want to assign when we close Fancybox
          // with the click button.
          var attribute = "#<%= params[:attribute] %>";
          var value = "<%= @item.id %>";
          var label = "<%= @item.to_label %>";

          // Make sure we remove any item which has the same ID as the
          // item we are trying to insert.
          // parent.$(attribute + " " + "option[value='" + value + "']").remove();
          parent.$(attribute).append(new Option(label, value, true, true));

          // This should be performed only in chosen is enabled.
          parent.$(".chzn-select-<%= params[:attribute] %>").trigger("liszt:updated");
        <% else %>
          parent.Typus.parent_location_reload = true;
        <% end %>

        // And finally close Fancybox!
        parent.$.fancybox.close();
      });
    </script>
  <% end %>

  <%= display_flash_message %>
  <%= render 'edit' %>

  <% locals = { :options => params.dup.cleanup.merge!(:action => 'update') } %>
  <%= render 'form', locals %>

  <%= typus_relationships unless headless_mode? %>
<% end %>

<div class="grid_2">
  <%= build_sidebar || render("admin/templates/profile_sidebar") %>
</div>

<div class="grid_8">
  <%= yield :main_grid %>
</div>
