<%
  page_title = Typus::I18n.t("Edit %{resource}", :resource => @resource.model_name.human)
  title(page_title)
%>

<div class="grid_2">
  <%= build_sidebar.present? ? build_sidebar : render("admin/templates/profile_sidebar") %>
</div>

<div class="grid_8">

  <h2>
    <%= page_title %>
    <small><%= list_actions %></small>
  </h2>

  <% if flash[:notice] && headless_mode? %>
    <script>
      $(document).ready(function() { parent.location.reload(); });
    </script>
  <% end %>

  <%= display_flash_message %>
  <%= render 'edit' %>

  <%
    options = params.dup.cleanup.merge!(:action => 'update')
    button = Typus::I18n.t("Save %{resource}", :resource => @resource.model_name.human)
  %>

  <%= render :partial => 'form', :locals => { :options => options, :button => button } %>

  <%= typus_relationships unless headless_mode? %>

</div>

<div class="grid_2">
  <!--
    'admin/resources/edit/rencently_edited'
    'admin/resources/edit/actions'
  -->
</div>
