<% content_for :sidebar do %>
  <%= build_sidebar %>
<% end %>

<%= display_link_to_previous %>

<h2>
  <%= _("Edit {{resource}}", :resource => @resource.model_name.human) %>
  <small><%= link_to_show %></small>
</h2>

<%= typus_block %>

<%
  options = { :action => "update",
              :id => @item.id ,
              :back_to => params[:back_to],
              :resource => params[:resource],
              :resource_id => params[:resource_id] }
  button = _("Save {{resource}}", :resource => @resource.model_name.human)
%>

<%= render form_partial, :options => options, :button => button %>

<%= raw typus_relationships %>
