<%
  page_title = _t("%{resources}", :resources => @resource.model_name.human.pluralize)
  title(page_title)
%>

<% content_for :sidebar, build_sidebar %>

<h2>
  <%= page_title %>
  <small><%= remove_filter_link %></small>
</h2>

<%= display_flash_message %>
<%= typus_render :partial => 'index' %>

<% if (build_filters || search) && !@resource.count.zero? %>
  <div class="filters">
    <%= build_filters %>
    <%= search %>
  </div>
<% end %>

<% if @items.any? -%>
  <%= raw build_list(@resource, @fields, @items) %>
  <%= will_paginate(@items, Typus.pagination) %>
<% else %>
  <p><%= _t("No %{resources} found.", :resources => @resource.model_name.human.pluralize.downcase) %></p>
<% end %>
