<% content_for :sidebar do %>
  <%= build_sidebar %>
<% end %>

<h2>
  <%= _("Edit {{resources}}", :resources => @resource.model_name.human.pluralize) %>
  <small><%= remove_filter_link %></small>
</h2>

<% if build_filters || search %>
  <div class="filters">
    <%= build_filters %>
    <%= search %>
  </div>
<% end %>

<%= typus_block %>

<% unless @items.count.zero? -%>
  <%= raw build_list(@resource, @fields, @items) %>
  <%= pagination %>
<% else %>
  <% message = @resource.count.zero? ? "There are no {{records}}." : "There are no {{records}} under this filter." %>
  <p><%= _(message, :records => @resource.model_name.human.pluralize.downcase) %></p>
<% end %>
