<% content_for :sidebar do %>
  <%= build_sidebar %>
<% end %>

<% content_for :search do %>
  <%= search %>
<% end %>

<h2>
  <%= _("Edit {{resources}}", :resources => @resource.human_name.pluralize) %>
  <small><%= remove_filter_link %></small>
</h2>

<%= filters %>

<%= typus_block %>

<% unless @items.count.zero? -%>
  <%= raw build_list(@resource, @fields, @items) %>
  <%= pagination %>
<% else %>
  <div id="flash" class="notice">
    <% message = @resource.count.zero? ? "There are no {{records}}." : "There are no {{records}} under this filter." %>
    <p><%= _(message, :records => @resource.human_name.pluralize.downcase) %></p>
  </div>
<% end %>
