<%
  page_title = @resource.model_name.human.pluralize
  admin_title(page_title)
%>

<% content_for :main_grid do %>

  <%= render 'index' %>

  <div class="row-fluid">
    <div class="col-md6">
      <h1><%= page_title %></h1>
    </div>
    <div class="pull-right" style="margin: 15px 5px 0 0;">
      <%= admin_search %>
    </div>
  </div>

  <%= admin_display_flash_message %>

  <%= render 'navigation' %>

  <%= build_filters %>

  <% if @items.any? -%>
    <% if controller.respond_to?(:bulk) %>
      <%= build_actions { build_list(@resource, fields, @items) } %>
    <% else %>
      <%= build_list(@resource, fields, @items) %>
    <% end %>
    <%= admin_paginate %>
  <% else %>
    <div class="alert alert-info">
      <p><%= Typus::I18n.t('No entries found.') %></p>
    </div>
  <% end %>

<% end %>
