<%
  page_title = _t("%{resources}", :resources => @resource.model_name.human.pluralize)
  title(page_title)
%>

<% content_for :sidebar, build_sidebar %>

<h2>
  <%= page_title %>
</h2>

<%= display_flash_message %>

<%= render 'index' %>

<ul class="predefined_filters">
  <li><%= link_to _t("All"), :action => 'index' %> (<%= @resource.count %>)</li>
</ul>

<% if (build_filters || search) %>
  <div class="filters">
    <%= build_filters %>
    <%= search %>
  </div>
<% end %>

<% if @items.any? -%>
  <%= raw build_list(@resource, @fields, @items) %>
  <%= will_paginate(@items, Typus.pagination) rescue nil %>
<% else %>
  <p><%= _t("No %{resources} found.", :resources => @resource.model_name.human.pluralize.downcase) %></p>
<% end %>
