<%
  @title = _("New {{resource}}", :resource => @resource.model_name.human)
%>

<% content_for :sidebar do %>
  <%= build_sidebar %>
<% end %>

<%= display_link_to_previous %>

<h2>
  <%= @title %>
</h2>

<%= typus_block %>

<%
  options = { :action => 'create', 
              :back_to => params[:back_to], 
              :selected => params[:selected], 
              :resource => params[:resource], 
              :resource_id => params[:resource_id] } 
  button = _("Create {{resource}}", :resource => @resource.model_name.human)
%>

<%= render form_partial, :options => options, :button => button %>
