<%
  page_title = Typus::I18n.t("Add New %{resource}", :resource => @resource.model_name.human)
  title(page_title)
%>

<div class="grid_2">
  <%= build_sidebar %>
</div>

<div class="grid_8">
  <h2>
    <%= page_title %>
    <small><%= list_actions %></small>
  </h2>

  <%= render 'new' %>

  <%= render :partial => 'form',
             :locals => { :options => params.dup.cleanup.merge(:action => 'create') } %>
</div>
