<%
  page_title = Typus::I18n.t("Show %{resource}", :resource => @resource.model_name.human)
  admin_title(page_title)
%>

<% content_for :main_grid do %>
  <%= render 'show' %>

  <% unless params[:_popup] %>
    <h1>
      <%= page_title %>
    </h1>
  <% end %>

  <%= admin_display_flash_message %>

  <dl class="dl-horizontal">
    <% build_display(@item, fields).each do |attribute, type| %>
      <dt><%= attribute %></dt>
      <dd><%= type %></dd>
    <% end %>
  </dl>

  <%= typus_relationships unless headless_mode? %>
<% end %>

<div class="grid_2">
  <%= build_sidebar %>
</div>

<div class="grid_8">
  <%= yield :main_grid %>
</div>
