<% content_for :javascripts do %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      $("#<%= dom_id(item, "#{attribute}_preview") %>").fancybox({'type' : 'image'});
    });
  </script>
<% end %>

<a id="<%= dom_id(item, "#{attribute}_preview") %>"
   href="<%= item.send(attribute).process(:thumb, 'x450').url %>"
   title="<%= item.to_label %>"><%= image_tag item.send(attribute).process(:thumb, 'x75').url %></a>
