<% if actions.any? %>
  <% actions.each do |action| %>
    <% klass = action[:url][:action].eql?(params[:action]) ? 'active' : 'inactive' %>
    <li class="<%= klass %>">
      <%= link_to url_for(action[:url]) do %>
        <span class="glyphicon glyphicon-<%= action[:icon] %>"></span>
        <%= action[:message] %>
      <% end %>
    </li>
  <% end %>
<% end %>

<% if @item && @item.persisted? %>

  <%
    item_actions = {
      edit: { message: Typus::I18n.t('Edit'), icon: 'edit' },
      show: { message: Typus::I18n.t('Show'), icon: 'info-sign' },
      destroy: {
        message: Typus::I18n.t('Destroy'),
        icon: 'remove',
        data: {
          confirm: "#{Typus::I18n.t('Trash')}?",
          method: 'delete',
        },
      },
    }
  %>

  <h3>Entry</h3>

  <% item_actions.each do |key, value| %>
    <li class="<%= params[:action].to_sym.eql?(key) ? 'active' : 'inactive' %>">
    <%= link_to url_for(params.merge(action: key)), data: value[:data] do %>
      <span class="glyphicon glyphicon-<%= value[:icon] %>"></span>
      <%= value[:message] %>
    <% end %>
    </li>
  <% end %>

<% end %>
