<ul>

  <li>
    <%= form.label :email, Typus.user_class.human_attribute_name(:email) %>
    <%= form.text_field :email, :size => 20, :class => "text", :autofocus => 'autofocus' %>
  </li>

  <% if controller.controller_name == 'session' %>
    <li>
      <%= form.label :password, Typus.user_class.human_attribute_name(:password) %>
      <%= form.password_field :password, :size => 20, :class => "text" %>
    </li>
  <% end %>

  <li>
    <%= form.submit Typus::I18n.t(submit_text), :class => "button", 'data-disable-with' => Typus::I18n.t("Sending data ...") %>
  </li>

</ul>
