<% if has_file_preview %>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function() { 
    $("#<%= dom_id(item, "#{attribute}_preview") %>").fancybox(); 
  });
</script>
<% end %>

<a id="<%= dom_id(item, "#{attribute}_preview") %>" 
   href="<%= href %>" 
   title="<%= item.to_label %>"><%= content %></a>
