<%
  dom = item.to_dom(:suffix => "#{attribute}_preview" )
%>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() { 
    $("#<%= dom %>").fancybox(); 
  });
</script>

<a id="<%= dom %>" 
   href="<%= item.send(attachment).url(file_preview) %>" 
   title="<%= item.to_label %>"><%= item.send(attribute) %></a>
