<table class="typus">

  <%= typus_table_header(model, fields) %>

  <% items.each do |item| %>
    <tr class="<%= cycle('even', 'odd') %> <%= item.class.name.underscore %>" 
        id="<%= dom_id(item) %>" 
        name="item_<%= item.id %>">

      <%= content %>

      <td width="10px">
        <%= typus_table_default_action(model, item) %>
      </td>

      <td width="10px">
        <%= typus_table_action(model, item) %>
      </td>

    </tr>
  <% end %>

</table>
