<div class="pagination">

  <% if @items.prev? %>
    <%= link_to _("&laquo; Previous"), params.merge(:page => @items.prev.number) %>
  <% else %>
    <span class="disabled"><%= _("&laquo; Previous") %></span>
  <% end %>

  <% last_page = 0 -%>

  <% build_pagination(@pager) do |n| -%>
    <% if @items.number == n -%>
      <span class="current"><%= n %></span>
    <% else -%>
      <%= "..." if last_page + 1 < n %>
      <%= link_to n, params.merge(:page => n) %>
    <% end -%>
    <% last_page = n -%>

  <% end -%>

  <% if @items.next? %>
    <%= link_to _("Next &raquo;"), params.merge(:page => @items.next.number) %>
  <% else %>
    <span class="disabled"><%= _("Next &raquo;") %></span>
  <% end %>

</div>