<h2><%= _("Search") %></h2>
<form action="/<%= params[:controller] %>" method="get">
<p><input id="search" name="search" type="text" value="<%= params[:search] %>"/></p>
<%= hidden_params.sort.join("\n") %>
</form>
<p class="tip"><%= _("Search by") %> <%= search_by.downcase %>.</p>
