<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title><%= page_title %></title>
  <%= stylesheet_link_tag "admin/reset", :media => "screen" %>
  <%= stylesheet_link_tag "admin/screen", :media => "screen" %>
</head>

<body>

  <div id="top_dialog">
    <%= typus_block :location => 'login', :partial => 'top' %>
  </div>

  <div id="dialog">
    <h1><%= link_to Typus::Configuration.options[:app_name], typus_login_path %></h1>
    <%= display_flash_message %>
    <%= yield %>
  </div>

  <div id="bottom_dialog">
    <%= typus_block :location => 'login', :partial => 'bottom' %>
  </div>

</body>

</html>