<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title><%= page_title %></title>
  <meta http-equiv="imagetoolbar" content="no" />
  <%= stylesheet_link_tag "admin/screen", :media => "screen" %>
  <%= yield :javascript -%>
</head>

<body onload="<%= yield :onload %>">

<div id="header">
  <div class="left">
    <%= header %>
  </div>
  <div class="right">
    <%= login_info %>
  </div>
  <div class="clear"></div>
</div>

<div id="wrapper">
  <div id="sidebar">
    <%= yield :sidebar %>
  </div>
  <div id="content">
    <%= display_flash_message %>
    <%= yield %>
  </div>
  <div class="clear"></div>
</div>

<div id="footer">

  <!--

    Dear developer,

    **Typus Admin** the "Super easy admin interface for your Rails site." 
    is licensed under the MIT License. You can do whatever you want with 
    this software: modify, resell ... but it will be nice that you keep 
    the link to our website so everyone know who has developed it.

    All we ask you is to not remove the link to our site.

    Thanks in advance,

    Francesc Esplugas

  -->

  <p><a href="http://typus-admin.com/" rel="external">Typus Admin <%= Typus.version %></a></p>

</div>

</body>

</html>